body{
    background-color:#CCCCFF;
    
}


.list{
    padding-left:100px;
    padding-top:30px;
	padding-right:100px;
	
}

h2{
    background-color:#9966FF;
    border-radius:2px;
    padding:10px;
    text-align:center;
}



.btnAdd{
	border-radius:5px; 
	font-size:20px;
	padding:3px;
	background-color:#00FF00;
	font-style:bold;
	display:inline-block;
}

input{
    font-size:20px;
    background-color:#9999CC;
    border-radius:5px;
    border: solid purple;
    
}

form{
    display:inline-block;
} 


.task{
    font-size:30px;
    padding:5px;
    padding-right:10px;
}

.btnDone{
    background-color:blue;
    font-size:20px;
    padding:5px;
    font-style:bold;
    border-radius:5px;
    color:white;
    display:inline-block;
	float:right;
}